:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  ---primaryColour : #00802f;
  ---secondColor : #ff2c2c;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,*::before,*::after{
  box-sizing: border-box;
}

body{
  background-color: #ececec;
  .main{
    padding: 20px;
    max-width: 1400px;
    height: calc(100vh - (41px + 41px));
    margin: 0 auto;
    @media (max-width : 360px) {
    height: calc(100vh - (68px + 41px));
    }
    & section{
      width: 89%;
      margin: 0 auto;
    }
  }
}

